.places {
  width: calc(100% - 296px);
  margin-bottom: 92px;
}

@media (max-width: 1100px)
{
  .places{
    width: calc(100% - 96px);
  }
}

@media (max-width: 850px)
{
  .places{
    width: calc(100% - 48px);
  }
}

@media (max-width: 450px)
{
  .places {
    width: 100%;
  }
}
