.header {
  width: calc(100% - 96px);
  display: flex;
  padding-top: 28px;
  justify-content: space-between;
}

@media (max-width: 850px)
{
  .header{
    width: calc(100% - 48px);
  }
}

@media (max-width: 450px)
{
  .header{
    padding-top: 16px;
    width: calc(100% - 32px);
  }
}
