.footer {
  width: calc(100% - 96px);
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media (max-width: 850px)
{
  .footer{
    width: calc(100% - 48px);
  }
}

@media (max-width: 450px)
{
  .footer{
    width: calc(100% - 32px);
    display: block;
  }
}
